In [4]:
import pandas as pd

#Model imports
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.pipeline import Pipeline

#model dumping
from joblib import dump
import os

In [5]:
#dataset
data = pd.read_csv('../data/data.csv')
data

,Attrition,TotalWorkingYears,JobLevel,YearsAtCompany,MonthlyIncome,YearsInCurrentRole,YearsWithCurrManager,YearsSinceLastPromotion,Age,JobRole,Education,MaritalStatus,NumCompaniesWorked,Gender,StockOptionLevel,RelationshipSatisfaction,WorkLifeBalance,MonthlyRate,DistanceFromHome,EnvironmentSatisfaction
0,1,8,2,6,5993,4,5,0,41,0,2,0,8,1,0,1,1,19479,1,2
1,0,10,2,10,5130,7,7,1,49,1,1,1,1,0,1,4,3,24907,8,3
2,1,7,1,0,2090,0,0,0,37,2,2,0,6,0,0,2,3,2396,2,4
3,0,8,1,8,2909,7,0,3,33,1,4,1,1,1,0,3,3,23159,3,4
4,0,6,1,2,3468,2,2,2,27,2,1,1,9,0,1,4,3,16632,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0,17,2,5,2571,2,3,0,36,2,2,1,4,0,1,3,3,12290,23,3
1466,0,9,3,7,9991,7,7,1,39,4,1,1,4,0,1,1,3,21457,6,4
1467,0,6,2,6,6142,2,3,0,27,3,3,1,1,0,1,2,3,5174,4,2
1468,0,17,2,9,5390,6,8,0,49,0,3,1,2,0,0,4,2,13243,2,4
1469,0,6,2,4,4404,3,2,1,34,2,3,1,2,0,0,1,4,10228,8,2

1. Random Forest classification: Will handle imbalances in left employees without the need to apply other techniques such as oversampling and undersampling
2. Metrics: 
- accuracy
- ROC/AUC
- precision/recall
- f1

In [ ]:
#splitting data dataset
X = data.drop('Attrition', axis = 1)
y = data['Attrition']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) 

#model pipeline 
pipeline = Pipeline([
        ('rf', RandomForestClassifier(random_state=42))
])

## Define the grid of hyperparameters to search
param_grid = {
    'rf__n_estimators': [100, 200, 300],
    'rf__max_depth': [None, 5, 10],
    'rf__min_samples_split': [2, 5, 10],
    'rf__min_samples_leaf': [1, 2, 4],
}

# Create the grid search object
grid_search = GridSearchCV(pipeline, param_grid=param_grid, cv=5)

# Fit the grid search object to the data
grid_search.fit(X_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_

# Print the best hyperparameters
print(f"Best hyperparameters: {best_params}")

After splitting the data in train and test splits, we will use RandomClassifier algolrithm. Before using it though, it will be necessary to select the most suitable parameters to so that we come up with the best posible model parameters by using GridSearchCV. Then next, we fit the model to the best performing parameters to come up with the best possible results.

In [19]:
#fit on model
best_model = grid_search.best_estimator_

#fit on train
result = best_model.fit(X_train, y_train)

#y-pred
y_pred = best_model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0])

For future usability, we save our model, trained on this dataset, to be used for future tasks

In [15]:
folder = '../requirements'
model_file = os.path.join(folder, 'best_model.joblib')
dump(best_model, model_file)

['../requirements/best_model.joblib']

In [20]:
#evaluate accuracy
accuracy = accuracy_score(y_test, y_pred)
#classification report
classification_report = classification_report(y_test, y_pred)

print(accuracy)
print(classification_report)

TypeError: 'str' object is not callable


Interpretation:

Class 0 (the majority class): The model performs well with high precision (87%) and high recall (98%), indicating that it correctly identifies class 0 instances with high confidence.

Class 1 (the minority class): The model performs poorly with low precision (47%) and low recall (11%), indicating that it struggles to correctly identify class 1 instances, often misclassifying them as class 0.

Overall: The model's accuracy is 86%, which seems decent, but it is heavily influenced by the high accuracy on class 0 due to its dominance in the dataset. The macro averages (0.55 for precision, recall, and F1-score) reflect the overall performance across both classes, highlighting the imbalance and the model's struggle with class 1.

In summary, while the model performs well on class 0, its performance on class 1 is poor, indicating a need for improvement, especially in correctly identifying instances of class 1.